<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TabNest</title>
</head>
<body>
    <header class="header">
        <div class="header__options">
            <div class="logo">
                <h1>
                    TabNest
                </h1>
            </div>
            <div class="header__search">
                <form action="/" method="POST" class="header__search__form">
                    <div class="search__input">
                        <input type="search" name="search" id="search" placeholder="Pesquisar...">
                    </div>
                    <div class="search__btn__form">
                        {{!-- <label for="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                            </svg>
                        </label> --}}
                        <input type="submit" name="submit" onclick="{{ onclick__search }}">
                    </div>
                </form>
            </div>
        </div>
        <div class="links">
            <div class="principal__link">
                <div class="link main__route">
                    <a href="/relevantes" class="main__route">Relevantes</a>
                </div>
                <div class="link">
                    <a href="/inicio">Inicio</a>
                </div>
                <div class="link">
                    <a href="/recentes">Recentes</a>
                </div>
            </div>
            <div class="add__post__link">
                <div class="link">
                    <a href="/add">Novo Conteúdo</a>
                </div>
            </div>
        </div>
    </header>
    <section class="conteiner">
        <div class="conteiner__add__post">
            <div class="add_post">
                <div class="add__post__form">
                    <form action="/add" class="form__post__create" method="POST">
                        <div class="add__nome">
                            <input type="text" name="nome" id="nome" placeholder="Nome..." autocomplete="off">
                        </div>
                        <div class="add__title">
                            <input type="text" name="title" id="title" placeholder="Titulo..." autocomplete="off">
                        </div>
                        <div class="add__post__content">
                            <textarea name="post" id="post" cols="30" rows="10" autocomplete="off"></textarea>
                        </div>
                        <div class="add__fonte">
                            <input type="text" name="fonte" id="fonte" placeholder="Fonte(opcional)" autocomplete="off">
                        </div>
                        <div class="options__post">
                            <div class="datetime__post">
                                <input type="datetime-local" name="date" id="date">
                            </div>
                            <div class="submit__post">
                                <input type="submit" value="Publicar" onclick="{{ add__btn }}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>