<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TabNest</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <h1>
                TabNest
            </h1>
        </div>
    </header>
    <section class="conteiner">
        <div class="conteiner__add__post">
            <div class="add_post">
                <div class="add__post__form">
                    <form action="/add" class="form__post__create" method="POST">
                        <div class="add__nome">
                            <input type="text" name="nome" id="nome" placeholder="Nome...">
                        </div>
                        <div class="add__title">
                            <input type="text" name="title" id="title" placeholder="Titulo...">
                        </div>
                        <div class="add__post__content">
                            <textarea name="post" id="post" cols="30" rows="10"></textarea>
                        </div>
                        <div class="options__post">
                            <div class="datetime__post">
                                <input type="datetime-local" name="date" id="date">
                            </div>
                            <div class="submit__post">
                                <input type="submit" value="Publicar" onclick="{{ add__btn }}">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
</html>