*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(13,17,23);
}
header.header{
    background-color: rgb(22,27,34);
    color: #e6edf3;
    padding: 1em;
    box-shadow: 1px 0 3px rgba(255,255,255,0.3);
}