*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: rgb(13,17,23);
}
header.header{
    background-color: rgb(22,27,34);
    color: #e6edf3;
    padding: 1em;
    box-shadow: 1px 0 3px rgba(255,255,255,0.3);
}
div.header__options{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.header__search form{
    display: flex;
    gap: 10px;
}
div.header__search form div.search__input input{
    border: 1px solid rgb(48, 54, 61);
    outline: none;
    padding: 10px 2.2em;
    background: transparent;
    border-radius: 10px;
    color: white;
}
div.header__search input[type=submit]{
    background: rgb(31,121,58);
    padding: 10px 20px;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;

}